main {
    display:flex;
    justify-content:center;
    align-items:center;

    width: 66%;
    height: 66%;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    margin: 0;
    color: white;
}

main h1#countdown {
    font-family: 'DSEG7-Classic';
    font-weight: bold;
    transform: translateX(-8%); /* HACK: Offset so the time is centred, not the whole text */
    backface-visibility: hidden; /* Makes Windows font rendering bugs less noticeable */
}
